.root {
    -fx-font-family: Arial;
}

.menu-bar {
    -fx-background-color: #f0f0f0;
}

.menu {
    -fx-text-fill: #333333;
}

.menu-item {
    -fx-text-fill: #333333;
}

.menu-item:hover {
    -fx-background-color: #cccccc;
}