.root {
    -fx-background-color: #d2ffe0;
}

#weightComboBox,
#date,
#nouvPoid {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #77e354;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
}

.button:hover {
    -fx-background-color: #5aa23d;
}

.label {
    -fx-font-weight: bold;
}

#weightComboBox,
#date,
#nouvPoid,
.button,
.label {
    -fx-font-size: 14px;
}

.anchor-pane {
    -fx-background-color: #77e354;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}
